name: ML CI Pipeline

on:
  push:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest

      - name: Create dummy model for tests
        run: python create_dummy_model.py

      - name: Run tests
        run: pytest

      - name: Train real model
        run: python train.py

      - name: Build Docker image
        run: docker build -t ml-wine .